<div class="container">
    <img class="img" src="../assets/bank1.jpg" alt="error loading Image">
    <div>
       
        <div >
         <!-- <button class="btn-1" (click)="addacc()">Add Account</button>  <br><br> -->
            <button (click)="deposit()" class="btn-2">Deposit Money</button>   <br><br>   
            <button class="btn-3"> Withdraw account </button>   <br><br>
            <button class="btn-4">Check Balance</button> 
         </div>
    </div>
</div>
    <div>
      <router-outlet></router-outlet></div>

<p>accounts works!</p>





